@model Cart
@{
}
@foreach (var i in Model.ProductsWithQuantity?? new())
{
    <p>
        Name: @i.Product.Name
    </p>
    <p>
        Price: @i.Product.Cost
    </p>
    <p>
        Quantity: @i.Quantity
    </p>
}    