<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title></title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="User" asp-action="ShowUserInfo" asp-route-userName="@User.Identity.Name">Welcome, @User.Identity.Name</a>
        <a asp-controller="AddProduct" asp-action="AddProduct">Add own product</a>
        <a asp-controller="Cart" asp-action="CartSummary">Cart</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="SignUp">Sign Up</a>
    }
    @await Html.PartialAsync("~/Views/Partial/CategoryList.cshtml")

    @RenderBody()
</body>
</html>
