@model VacuumCleanerData
@{
}
<form asp-action="AddProduct" enctype="multipart/form-data" method="post">
    <input type="hidden" name="productType" value="vacuumCleaner" />
    <input type="hidden" name="Category" value="vacuumCleaner" />
    <input type="hidden" asp-for="SalerId" value=@ViewData["SalerId"] />
    <div class="form-group">
        <div>
            <label asp-for="Brand" class="col-form-label">Brand: </label>
        </div>
        <input type="text" asp-for="Brand" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="Cost" class="col-form-label">Cost: </label>

        <input type="text" asp-for="Cost" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="MaxNoizeDb" class="col-form-label">Max noize (db): </label>

        <input type="text" asp-for="MaxNoizeDb" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="CleaningType" class="col-form-label">Cleaning type: </label>

        <input type="text" asp-for="CleaningType" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="Name" class="col-form-label">Name: </label>

        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="ImageFile" class="col-form-label">Image: </label>

        <input asp-for="ImageFile" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="Description" class="col-form-label">Description: </label>

        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">

        <label asp-for="PowerInWatt" class="col-form-label">Pwer in watt: </label>

        <input type="text" asp-for="PowerInWatt" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Publish" class="btn btn-primary" />
    </div>
</form>