@model IEnumerable<Product>
@{ Layout = "ShowProductsLayout";}
@foreach (var p in Model)
{
<a asp-action="ShowProductInfo" asp-route-productId=@p.Id>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">parametr</th>
                <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src=@p?.Image height="250" width="250" /></td>
            </tr>
            <tr>
                <th scope="row">Model:</th>
                <td>@p.Name</td>
            </tr>
            <tr>
                <th scope="row">Cost:</th>
                <td>@p.Cost</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>@p.Description</td>
            </tr>
            <tr>
                <th scope="row">Saler:</th>
                <td>
                    <a asp-controller="User" asp-action="ShowUserInfo" asp-route-userName=@p.Saler.UserName>
                        @p.Saler?.UserName
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</a>
<a asp-action="AddToCart" asp-controller="Cart" 
   asp-route-productId=@p.Id
   asp-route-quantity="1" 
   asp-route-returnUrl=@Context.Request.PathAndQuery()
   class="btn btn-primary">add to cart</a>
}
