@model MeatGrinder
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">parametr</th>
            <th scope="col">value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">model</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th scope="row">productivity kg per minute</th>
            <td>@Model.ProductivityKgPerMin</td>
        </tr>
        <tr>
            <th scope="row">made in</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th scope="row">weight grams</th>
            <td>@Model.WeightInGrams</td>
        </tr>
    </tbody>
</table>
  