@model IEnumerable<string>
@{
}
@foreach (var i in Model)
{
    <a class="btn" asp-action="AddProduct" asp-route-productType=@i>add @i</a>

    string c = ViewData["productType"]?.ToString();
}
@if (ViewData["productType"] is not null) { 
    @await Html.PartialAsync($"~/Views/Partial/{ViewData["productType"]?.ToString()}.cshtml", new MeatGrinderData())
}
